html{    
    position:relative;
    width: 1440px;
    height: 810px;
    background-color: black;
    box-sizing: border-box;
    margin: auto;
}
header{
    
    box-sizing: border-box;
    margin:auto;
    }
.background
    {       
        position:absolute;      
        transition: 0.5s;        
        opacity:1;
        z-index: 2;
    }
.background:hover{
    opacity:0;
}
.background2
{
    position:relative;
    z-index:1;
    
}

    
   .logo{    
    bottom:200px;
    position:relative;
    width:255.6px ;
    height:102px;
    z-index:2;
    }
.function
{
    position:relative;
    bottom:106px;
    width:1440px;
    height:50px;
    background-color: rgb(255, 75, 75);
    z-index:3;    
}
.func-area{
    width:216px;
    
}
.func-text
{
    transition: 0.5s;
    opacity:0.5;
}
.func-text:hover{
    opacity:1;
        box-shadow: 10px 10px 5px rgba(0,0,0,0.8);
    }
.start{
    position:relative;
    z-index:4;
    margin: auto;

    transition: 0.5s;
    width:350px;
}
.start:hover{
    transform: scale(1.5);
}
footer{
    position:relative;
    z-index:3;
   top: 125px;
    color:red;

}
.search{
    top: 350px;
    position:relative;
    margin: auto;   
    width: 400px;
    height: 80px;
 

}
.search-title
{ 
    color:white;
    
}
.search-box{
    position:relative;
    top: 336px;
    left: 5px;
    margin: auto;
    width: 400px;
    height: 50px;
   
   


}
.boxbox
{
    position:absolute;
    top: 50px;
    
    margin: auto;
   
    
}
.search-name
{
    right:1px;
    width: 387px;
    height: 38px;
}
.enter
{
    position:relative;
    top:370px;
    margin: auto;
}
.textbox
{
    margin: auto;
    position:relative;
    width: 500px;
    background-color: rgb(255, 77, 0);
}
.rule-title
{
    font-size: 40px;
    letter-spacing: 3px;
    color: white;
}
.rule-text
{
    font-size: 26px;
    line-height: 33px;
    letter-spacing: 3px;
    color: white;
}
.agree{
    margin: auto;
    position:relative;
    width: 500px;
    box-sizing: border-box;
    width: 300px;
    height: 50px;
    border:3px solid rgb(255, 77, 0);
}
.agree-text
{
    margin:10px 0px;
    color: white;
}
.evil-point
{
    left: 200px;
    top: 100px;
    position:absolute;
}
.percent
{
    top: 95px;
    left: 650px;
    position:relative;
}
.health
{
    position:absolute;

    font-size: 40px;
    top:200px;
    left: 300px;
    width: 300px;
    color: greenyellow;

}
.mental
{
    position:absolute;

    font-size: 40px;
    top:250px;
    left: 300px;
    width: 300px;
    color: rgb(227, 255, 69);

}
.evil{
    position:relative;
    top:200px;
    left: 220px;
    width:500px ;
    height:500px ;
}
.option{
    margin: auto;
    left: 400px;
    bottom: 200px;
    position:relative;
    width: 350px;
    color: white;
}
.option1{
    margin: auto;
    
    bottom: 200px;
    position:relative;
    width: 350px;
    color: white;
}
.option2{
    margin: auto;
    width: 350px;
    bottom: 100px;
    position:relative;
    color: white;
}
.option3{
    margin: auto;    
    width: 350px;
    position:relative;
    color: white;
}
.option-text
{    
    border: 3px solid brown;
    font-size: 60px;
    bottom: 300px;
    line-height: 100px;
    letter-spacing: 3px;
    width: 350px;
}
.option-text2
{    
    border: 3px solid brown;
    font-size: 60px;
    line-height: 100px;
    letter-spacing: 3px;
    width: 350px;
}
.option-text3
{    
    border: 3px solid brown;
    font-size: 60px;
    line-height: 100px;
    letter-spacing: 3px;
    width: 350px;
}
.zero
{
    left: 535px;
    top:115px ;
    color: white;
    position:absolute;
}
.zero-text
{
    font-size: 60px;
}